<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBiF4r_As5rg4Kd6IVu0Toy-SI4SXk-M-o</string>
	<key>GCM_SENDER_ID</key>
	<string>445356305682</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.g21097716MovieApp</string>
	<key>PROJECT_ID</key>
	<string>cinematic-insights</string>
	<key>STORAGE_BUCKET</key>
	<string>cinematic-insights.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:445356305682:ios:234211e7299754a5fa17cb</string>
</dict>
</plist>